<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gt.magicbox">

    <!-- wifi -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.LOCATION_HARDWARE" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_magic_box"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Base"
        android:name=".base.MyApplication">
        <activity android:name=".main.MainActivity">
           <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".setting.wificonnention.WifiConnectionActivity">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".main.MoreActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".main.DevicesMangerActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".pay.PaymentActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".pay.ChosePayModeActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".pay.PayResultActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".webview.WebViewActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.zbar.scan.ScanCaptureAct"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@android:style/Theme.Light.NoTitleBar">
        </activity>

        <activity
            android:name="com.zbar.lib.CaptureActivity"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
        android:name=".setting.DeviceInfoActivity" />
        <activity
            android:name=".setting.VolumeSettingActivity" />
    </application>


</manifest>